/**device.wxss**/
.container{
  background:#e5e5e5;
  overflow: hidden;
  color: #333;
  .device-list{
    height: 100%;
    background: #F6F6F6;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-top: 28px;
    .title-sec{
      font-size: 18px;
      line-height: 25px;
      color: #504F4F;
      padding-top: 16rpx;
      margin-left: 20px;
      padding-bottom: 20px;
    }
  }
}
.device-list .list{
  height: calc(100% - 50px);
  .item{
    height: 80px;
    margin: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 4px rgba(173, 173, 173, 0.1);
    border-radius: 4px;
    position: relative;
  }
}
.device-list .list .item:first-child{
  margin-top: 3px;
}
.device-list .list .item:last-child{
  margin-bottom: 30px;
}
.device-list .list .item .device-logo{
  width:44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(-50%,-50%);
}
.device-list .list .item .device-info{
  padding:0 84px;
  height: 80px;
}
.device-list .list .item .device-info view{
  height: 40px;
  line-height: 40px;
}
.device-list .list .item .device-info .name{
  font-weight: bold;
  font-size: 14px;
  line-height: 60px;
  color: #504F4F;
}
.device-list .list .item .device-info .position{
  font-size: 12px;
  line-height: 24px;
  color: #918C8C;
}
.device-list .list .item .device-status{
  width: 30px;
  height: 18px;display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%,-50%);
}